# Whatsapp Chat Analyser

## Reading Chat

In [1]:
import pandas as pd

In [2]:
import read_chat_DM
data = read_chat_DM.getMessages("data/chat.txt")
data.head()

       Date      Time  Name                                          Message
0    9/7/14  22:57:00    BD                                            Yo yo
1  10/16/14  23:02:00    BD                                Dude one help pro
2  10/17/14  17:24:00  sony               dude going tmrw is a waste of time
3  10/17/14  16:08:00    BD  Yyyyyy u tell me please why aren't u not coming
4  10/17/14  22:28:00  sony                                       what doing

## Basic exploratory analysis

### Checking for null values

In [3]:
data[data.isnull().any(1)]

Empty DataFrame
Columns: [Date, Time, Name, Message]
Index: []

Found out that Name can have null in encryption key message so fixed it in preprocessing lib

    ex: 4/6/16, 7:00 AM - Messages and calls are end-to-end encrypted. No one outside of this chat, not even WhatsApp, can read or listen to them. Tap to learn more.

### Basic chat insights

In [4]:
total_messages = data.shape[0]
print("Total messages :\t"+str(total_messages))

parties_involved = data['Name'].unique()
print("Parties involved :\t"+str(parties_involved))

print()

for i in parties_involved:
    print("%s \t sent \t %d messages "%(i,data[data['Name'] == i].shape[0]))

Total messages :	6263
Parties involved :	['BD' 'sony']

BD 	 sent 	 3785 messages
sony 	 sent 	 2478 messages

TypeError: unsupported operand type(s) for -: 'str' and 'str'